html,
body{
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
a,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

@media(max-width: 1024px){
    .floating-nav {
        display: none;
    }
}
