html,
body{
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
a,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


@media(max-width: 1600px){
    html,
    body{
        font-size: 52.083%;
    }
}

@media(max-width: 1440px){
    html,
    body{
        font-size: 46.875%;
    }
}

@media(max-width: 1280px){
    html,
    body{
        font-size: 41.667%;
    }
}

@media(max-width: 1024px){
    html,
    body{
        font-size: 33.3%;
    }
    .floating-nav {
        display: none;
    }
}

@media(max-width: 768px){
    html,
    body{
        font-size: 29.16%;
    }
}

@media(max-width: 560px){
    html,
    body{
        font-size: 21.2625%;
    }
}

@media(max-width: 480px){
    html,
    body{
        font-size: 18.225%;
    }
}

@media(max-width: 414px){
    html,
    body{
        font-size: 15.7194%;
    }
}

@media(max-width: 390px){
    html,
    body{
        font-size: 14.8068%;
    }
}

@media(max-width: 360px){
    html,
    body{
        font-size: 13.6469%;
    }
}

@media(max-width: 320px){
    html,
    body{
        font-size: 12.15%;
    }
}

